*{
  padding: 0;
  margin: 0;
  font-family: inter;
}

#app{
  width: 550px;
  height: 779px;
  margin: 0 auto;
  border: 1px solid black;
  position: relative;
}

.nav-img{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.813);
}

.nav-header{
  position: absolute;
  top: 82px;
  left: 21px;
  color: white;
}

.nav-header2 a{
  position: absolute;
  top: 82px;
  right: 41px;
  text-decoration: none;
  color: white;
}

.search-box{
position: absolute;
top: 198px;
left:50%;
transform: translateX(-50%);
}

#app{
  background-image: url(./Images/film-white.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}

.card{
  display: flex;
  padding:35px 40px 20px 40px;
}

.card img{
  height:17px;
}

/* Images setting */
.card-poster-img img{
  height: 147.14px;
}

.star-rating{
height: 15px;
padding-left: 8px;
padding-right: 4px;
}

.card-info{
  display: flex;
  flex-direction: column;
  padding-left: 21px;
}

.card-info :nth-child(1){
  display: flex;
  padding-bottom: 9px;
}
.card-info :nth-child(2){
  display: flex;
}
.card-info :nth-child(3){
  display: flex;
}


.add-watchlist-icon:hover{
    transform: translateY(-2px);
    /* box-shadow: 0 2px 2px rgba(0,0,0,0.2); */
    
}

.add-watchlist-icon:active{
    transform: translateY(-1px);
    /* box-shadow: 0 2px 2px rgba(0,0,0,0.2); */
    
}

