*{
  padding: 0;
  margin: 0;
  /* background-color: rgb(36, 35, 34); */
  font-family: inter;
}

#app{
  position: relative;
  width: 550px;
  height: 779px;
  background-color: aquamarine;
  margin: 0 auto;

}

.film-bgImg{
width: 70px; 
height: 61.25px; 


position: absolute;
left: 43.64%;
right: 43.64%;
top: 53.92%;
bottom: 38.22%;
}

.start-exploring{
  /* Start exploring */


position: absolute;
width: 148px;
height: 20px;
left: 201px;
top: 490px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */

text-align: center;

color: #DFDDDD;

}

.nav-img{
  height: 208px;
  width: 550px; 
}

.nav-header{
  position: absolute;
width: 359px;
height: 47.55px;
left: 42px;
top: 82.45px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 42.7947px;
line-height: 24px;
/* or 56% */

display: flex;
align-items: center;
text-align: justify;
letter-spacing: -0.045em;

color: #FFFFFF;

}

.nav-header2>a{
position: absolute;
width: 114px;
height: 20px;
left: 390px;
top: 100px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
text-decoration: none;
/* identical to box height, or 143% */

text-align: right;

color: #FFFFFF;
}

 .search-bar{
position: absolute;
width: 462px;
height: 38px;
left: 44px;
top: 189px;

box-sizing: border-box;

/* Auto layout */

 display: flex;
flex-direction: row;
align-items: center;
padding: 0px;


background: #FFFFFF;
/* gray/300 */

 border: 1px solid #D1D5DB;
/* shadow/sm */

 box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
} 

.search-input{
  height:20px;
  width: 340px;
  outline: none;
  border: none;
}

.search-button{
width: 120px;
height: 38px;
background: #F9FAFB;
/* gray/300 */

border: 1px solid #D1D5DB;
border-radius: 0px 6px 6px 0px;
}

.search-icon{
  width:28px;
  height: 26px;
  padding-left: 21px;
}

/* card */

.card{
position: absolute;
width: 462px;
height: 147.41px;
left: 44px;
top: 271px;
background:rgba(213, 8, 8, 0.127);
}

.card{
  display: flex;
  justify-content:space-between;
}

.card-poster-img{
  width: 99px;
  height: 147.41px;
  background: rgba(252, 255, 56, 0.622);
}
.card-poster-img img{
  width: 100%;
  height: 100%;
}
.card-info{
  box-sizing: border-box;
  width: 345px;
  height: 135px;
  background: #d211887d;
  align-self: center;
  margin-right: 7px;
}

.card-info div{
  display: flex;
}

.card-info img{
  width: 15px;
  height: 15px;
}

.card-info :nth-child(1) :nth-child(1){
font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: justified;
}

.card-info :nth-child(1) :nth-child(3){
font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
}

.card-info :nth-child(2) p{
font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}

.card-info :nth-child(2) img{
  width: 15px;
  height: 15px;
  margin-top: 3px;
}

.card-info :nth-child(1) :nth-child(2){
  margin-left: 8px;
  margin-right: 4px;
}

.card-info:nth-child(2){
  padding-bottom: 14px;
}

.card-info :nth-child(2) :nth-child(1){
  padding-right: 19px;
}

.card-info :nth-child(2) :nth-child(2){
  padding-right: 30px;
}

.card-info :nth-child(2) :last-child{
  padding-left: 5px;
}

.card-info :last-child p{
  padding-top: 11px;
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #6B7280;
}
